<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{MMM-dd-yyyy HH:mm:ss.SSS} [%thread] %class{0} %-5level: %msg%n</pattern>
    </encoder>
  </appender>
  <logger name="com.forerunnergames.peril.client" level="DEBUG" additivity="false">
    <appender-ref ref="STDOUT" />
  </logger>
  <root level="DEBUG">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>
