<!--
  ~ Copyright © 2013 - 2017 Forerunner Games, LLC.
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program. If not, see <http://www.gnu.org/licenses/>.
  -->

<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{MMM-dd-yyyy HH:mm:ss.SSS} [%thread] %logger{0} %level: %msg%n%n</pattern>
    </encoder>
  </appender>

  <!-- Create a custom timestamp variable named 'bySecond' that can be injected into the filename of a log. -->
  <timestamp key="bySecond" datePattern="yyyy_MM_dd_HH_mm_ss"/>

  <!-- A SiftingAppender is used here only to force lazy log file creation. -->
  <!-- This prevents an empty file from being created by FileAppender when nothing has been logged. -->
  <!-- For more information, see: http://jira.qos.ch/browse/LOGBACK-202 -->
  <appender name="SIFT" class="ch.qos.logback.classic.sift.SiftingAppender">
    <!-- Only allow errors to create a file or to be logged to file -->
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>ERROR</level>
    </filter>
    <discriminator>
      <key>null</key> <!-- key is not used -->
      <defaultValue>null</defaultValue> <!-- default value is not used -->
    </discriminator>
    <sift>
      <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <!-- Inject the timestamp 'bySecond' variable to virtually guarantee a unique filename. -->
        <!-- All parent directories will be created if they don't exist. -->
        <file>${user.home}/peril/crashes/crash-${bySecond}.txt</file>
        <append>false</append> <!-- If crash.txt already exists erase the contents. -->
        <encoder>
          <pattern>%d{MMM-dd-yyyy HH:mm:ss.SSS} [%thread] %logger{0} %level: %msg%n%n</pattern>
        </encoder>
      </appender>
    </sift>
  </appender>

  <logger name="com.forerunnergames.peril" level="TRACE" additivity="false">
    <appender-ref ref="STDOUT"/>
  </logger>

  <logger name="com.forerunnergames.peril.common.net.kryonet.KryonetLogger" level="INFO" additivity="false">
    <appender-ref ref="STDOUT"/>
  </logger>

  <logger name="com.forerunnergames.peril.core.model.InternalCommunicationHandler" level="WARN" additivity="false">
    <appender-ref ref="STDOUT"/>
  </logger>

  <logger name="com.forerunnergames.peril.ai.net.AiClientCommunicator" level="WARN" additivity="false">
    <appender-ref ref="STDOUT"/>
  </logger>

  <logger name="com.forerunnergames.peril.ai.processors" level="WARN" additivity="false">
    <appender-ref ref="STDOUT"/>
  </logger>

  <logger name="com.forerunnergames.peril.server.controllers" level="WARN" additivity="false">
    <appender-ref ref="STDOUT"/>
  </logger>

  <logger name="com.forerunnergames.peril.server.communicators" level="WARN" additivity="false">
    <appender-ref ref="STDOUT"/>
  </logger>

  <logger name="com.forerunnergames.peril.server.kryonet" level="WARN" additivity="false">
    <appender-ref ref="STDOUT"/>
  </logger>

  <logger name="com.forerunnergames.tools" level="TRACE" additivity="false">
    <appender-ref ref="STDOUT"/>
  </logger>

  <root level="ERROR">
    <appender-ref ref="SIFT"/> <!-- Write to file only for errors. -->
  </root>
</configuration>
