<!--
  ~ Copyright © 2013 - 2017 Forerunner Games, LLC.
  ~
  ~ This program is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or
  ~ (at your option) any later version.
  ~
  ~ This program is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with this program. If not, see <http://www.gnu.org/licenses/>.
  -->

<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{MMM-dd-yyyy HH:mm:ss.SSS} [%thread] %logger{0} %level: %msg%n%n</pattern>
    </encoder>
  </appender>
  <appender name="LOGFILE_MAIN" class="ch.qos.logback.core.FileAppender">
    <file>build/logs/main.log</file>
    <append>false</append>
    <encoder>
      <pattern>%d{MMM-dd-yyyy HH:mm:ss.SSS} [%thread] %logger{0} %level: %msg%n%n</pattern>
    </encoder>
  </appender>
  <appender name="LOGFILE_CORE" class="ch.qos.logback.core.FileAppender">
    <file>build/logs/core.log</file>
    <append>false</append>
    <encoder>
      <pattern>%d{MMM-dd-yyyy HH:mm:ss.SSS} [%thread] %logger{0} %level: %msg%n%n</pattern>
    </encoder>
  </appender>
  <appender name="LOGFILE_SERVER" class="ch.qos.logback.core.FileAppender">
    <file>build/logs/server.log</file>
    <append>false</append>
    <encoder>
      <pattern>%d{MMM-dd-yyyy HH:mm:ss.SSS} [%thread] %logger{0} %level: %msg%n%n</pattern>
    </encoder>
  </appender>
  <appender name="LOGFILE_INTEGRATION" class="ch.qos.logback.core.FileAppender">
    <file>build/logs/integration.log</file>
    <append>false</append>
    <encoder>
      <pattern>%d{MMM-dd-yyyy HH:mm:ss.SSS} [%thread] %logger{0} %level: %msg%n%n</pattern>
    </encoder>
  </appender>
  <logger name="com.forerunnergames.peril" level="TRACE" additivity="false">
    <!--<appender-ref ref="STDOUT" />-->
    <appender-ref ref="LOGFILE_MAIN"/>
  </logger>
  <logger name="com.forerunnergames.peril.common.net.kryonet.KryonetLogger" level="INFO" additivity="false">
    <!--<appender-ref ref="STDOUT" />-->
    <appender-ref ref="LOGFILE_MAIN"/>
  </logger>
  <logger name="com.forerunnergames.tools" level="TRACE" additivity="false">
    <!--<appender-ref ref="STDOUT" />-->
    <appender-ref ref="LOGFILE_MAIN"/>
  </logger>
  <logger name="com.forerunnergames.peril.core" level="TRACE" additivity="false">
    <!--<appender-ref ref="STDOUT" />-->
    <appender-ref ref="LOGFILE_CORE"/>
  </logger>
  <logger name="com.forerunnergames.peril.server" level="TRACE" additivity="false">
    <!--<appender-ref ref="STDOUT" />-->
    <appender-ref ref="LOGFILE_SERVER"/>
  </logger>
  <logger name="com.forerunnergames.peril.integration" level="TRACE" additivity="false">
    <!--<appender-ref ref="STDOUT" />-->
    <appender-ref ref="LOGFILE_INTEGRATION"/>
  </logger>
  <root level="DEBUG">
    <appender-ref ref="LOGFILE_MAIN"/>
  </root>
</configuration>
